<?xml version="1.0" ?>
<robot name="create_2" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find create_description)/urdf/create_base.urdf.xacro" />
  <xacro:include filename="$(find create_description)/urdf/create_2_gazebo.urdf.xacro" />
    <xacro:property name="M_SCALE" value="0.001"/>

  <xacro:create_base wheel_separation="0.235" base_diameter="0.3485">
    <mesh filename="package://create_description/meshes/shoebot_collision.stl" scale="${M_SCALE} ${M_SCALE} ${M_SCALE}"/>
  </xacro:create_base>

    <link name="laser">
        <inertial>
            <mass value="0.00833634573995571"/>
            <inertia ixx="1.01866461240801E-06" ixy="-5.88447626567756E-08" ixz="7.83857244757914E-08"
                     iyy="5.10039589974707E-07" iyz="-7.12664289617235E-09" izz="1.28270671527309E-06"/>
        </inertial>
    </link>


    <joint name="base_to_laser" type="fixed">
        <parent link="base_link"/>
        <child link="laser"/>
        <origin xyz="-0.091987 0 0.5" rpy="0 0 0"/>
    </joint>

    <link name="camera1">
        <inertial>
            <mass value="0.00833634573995571"/>
            <inertia ixx="1.01866461240801E-06" ixy="-5.88447626567756E-08" ixz="7.83857244757914E-08"
                     iyy="5.10039589974707E-07" iyz="-7.12664289617235E-09" izz="1.28270671527309E-06"/>
        </inertial>
    </link>


    <joint name="base_to_camera1" type="fixed">
        <parent link="base_link"/>
        <child link="camera1"/>
        <origin xyz="-0.041986 0 0.454529" rpy="0 0 0"/>
    </joint>

    <link name="camera2">
        <inertial>
            <mass value="0.00833634573995571"/>
            <inertia ixx="1.01866461240801E-06" ixy="-5.88447626567756E-08" ixz="7.83857244757914E-08"
                     iyy="5.10039589974707E-07" iyz="-7.12664289617235E-09" izz="1.28270671527309E-06"/>
        </inertial>
    </link>


    <joint name="base_to_camera2" type="fixed">
        <parent link="base_link"/>
        <child link="camera2"/>
        <origin xyz="-0.053586 0 0.43102" rpy="0 0.523599 0"/>
    </joint>

    
</robot>
