<launch>

  <node name="mpu_6050" pkg="create_tools" type="mpu6050_imu.py" output="screen">
    <param name="imu_frame" value="base_link" />
  </node>

  <node pkg="imu_complementary_filter" type="complementary_filter_node"
      name="complementary_filter_node" output="screen">
    <param name="do_bias_estimation" value="true"/>
    <param name="do_adaptive_gain" value="true"/>
    <param name="use_mag" value="false"/>
    <param name="gain_acc" value="0.01"/>
    <param name="gain_mag" value="0.01"/>
  </node>


  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true" output="screen">
    <rosparam command="load" file="$(find create_tools)/config/ekf.yaml" />

    <!--  Placeholder for output topic remapping
    <remap from="odometry/filtered" to=""/>
    <remap from="accel/filtered" to=""/>
    -->

  </node>

</launch>
